<!DOCTYPE html>

{% load staticfiles %}

<html>

  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>Rango says...hello world!</h1>

    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /><br />
    <a href="/rango/add_category/">Add a New Category</a><br />
    {% if categories %}
      <h3>Categories:</h3></br>
      <ul>
        {% for category in categories %}
        <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}
      </br>
    {% if pages_by_views %}
      <h3>Top 5 most visited pages:</h3></br>
      <ul>
        {% for page_by_views in pages_by_views %}
          <li><a href="{{ page_by_views.url }}">{{ page_by_views.title }}</li>
        {% endfor %}
      </ul>
    {% endif %}
      </br>

      <a href="/rango/about/">About</a><br />
  </body>

</html>
